<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Editar asignatura</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
      <mat-form-field>
          <input matInput placeholder="Nombre" >
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn">Save</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>