@import "../../../scss/variables.scss";
@import "../../../scss/styles.scss";

.mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
    min-width: min-content;
    min-height: min-content;
    max-width: 100%;
    max-height: 100%;
}

mat-list-option {
    &.disabled {
        opacity: 0.4;
        background: none;

        &:hover {
            background: none;
        }
    }
}

.disabled {
    opacity: 0.4;
}

.loading {
    background-color: black;
    position: absolute;
    z-index: 1;
    height: 100%;
    opacity: 0.5;
    width: 100%;
    transition: all 1s;
}

.card {
    margin: 10px;
    display: flex;
    padding: 0;
    height: 100%;
}

.list-column {
    width: 40%;
    padding: 10px;
    border-right: 1px solid gray;
}

.state-column {
    background-color: $primary;
    width: 60%;
    padding: 10px;
}

.left-minimice {
    //position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 1px 1px 1px 10px;
    z-index: 1;
    cursor: pointer;

    mat-icon {
        margin-right: 20px;
    }

    &.black {
        color: white;
    }
}

.asignaturas {
    overflow: auto;
    max-height: 1000px;
}

#stateContent {
    overflow: auto;
    max-height: 1000px;
}

.left-minimiced {
    .list-column {
        width: 50px;

        .left-minimice {
            transform: rotate(90deg);
            padding: 0;
        }

        .asignaturas {
            display: none;
        }
    }

    .state-column {
        width: -webkit-fill-available;
    }
}

.right-minimiced {
    .state-column {
        width: 50px;

        .left-minimice {
            transform: rotate(90deg);
            padding: 0;
        }

        h2 {
            width: 300px;
            position: absolute;
            margin: auto;
            left: 40px;
        }

        #stateContent {
            display: none;
        }
    }

    .list-column {
        width: -webkit-fill-available;
    }
}

#horarioComponent {
    color: white;
}

.errores {
    margin-top: 10px;
}

.mat-fab-bottom-right3 {
    z-index: 1000;
    top: auto !important;
    right: 170px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
    background-color: $links;
}

.mat-fab-bottom-right1 {
    z-index: 1000;
    top: auto !important;
    right: 105px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
    background-color: $links;
}

.mat-fab-bottom-right2 {
    z-index: 1000;
    top: auto !important;
    right: 40px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
    background-color: $accent;
}

.customChip {
    font-size: 16px;
    font-weight: 500;

    &.accent {
        background-color: #990033;
        color: #fff;
    }

    &.primary {
        background-color: #e0e0e0;
        color: rgba(0, 0, 0, 0.87);
    }

    &.withIcon {
        display: inline-flex !important;
        align-items: center;
        padding: 1px;
        padding-right: 2px;
        width: fit-content;

        mat-icon {
            margin-right: 5px;
            font-size: inherit;
            height: unset;
            width: unset;
        }
    }

}

.sidenav {
    width: 30%;
}

.topMenu {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 0.8em;
}

.buscar {
    display: flex;
}

.separator {
    flex: 1 1 auto;
}

.profesores {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;

    mat-form-field {
        margin-left: 10px;
    }
}

.info {
    margin: 10px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {

    border: 2px solid #ddd;
    display: inline-flex;

    &.deuda {
        width: 100%;
    }
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 1.1rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    transition: background-color 1s;
}

.number-input button:hover {
    background-color: lightgray !important;
    opacity: 0.9;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    text-align: center;
}

.filterIcon {
    position: fixed;
    top: 13px;
    right: 40px;
    z-index: 800;
    background-color: white;

    div {
        background-image: url('./../../../assets/filter-icon.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 20px;
        width: 20px;
        margin-left: 5px;
        display: inline-block;
    }
}

.docencia-confirmada {
    background-image: url('./../../../assets/check-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.docencia-no-confirmada {
    background-image: url('./../../../assets/check-icon-black.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.sin-docencia {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
}

mat-option {
    span {
        display: flex !important;
        flex-grow: 1;
        overflow: hidden;
        align-items: center !important;
        text-overflow: ellipsis;
    }
}

.creditos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 5px;
        }
    }

    .cred-select {
        border: 2px solid #ddd;
        text-align: center;
        padding: 9px;
        margin-top: 5px;
        font-weight: bold;

        span {
            display: inline;
            color: $accent;
        }
    }
}

.cred-select-top {
    position: fixed;
    transition: 0.1s all;
    top: 13px;
    right: calc(55% - 140px);
    z-index: 800;
    background-color: white;
    opacity: 0;
    border: 2px solid #ddd;
    text-align: center;
    padding: 9px;
    font-weight: bold;

    span {
        display: inline;
        color: $accent;
    }
}

.is-visible {
    opacity: 1 !important;
}

.asign-hidden {
    display: none !important;
}