<mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary" class="progress-bar"></mat-progress-bar>
<div *ngIf="loading" class="loading"></div>

<button mat-button (click)="sidenav.toggle()" matTooltip="Filtrar" class="filterIcon">
    Filtrar asignaturas
    <div></div>

</button>
<div class="cred-select-top">
    <span>{{creditos}}</span> de {{profesor.creditos_escoger | number:'1.3-3'}} créditos
</div>
<div class="total-container">
    <mat-sidenav-container>
        <mat-sidenav #sidenav [autoFocus]="false" [mode]="over" position="end" class="sidenav">
            <app-search-sidenav [sidenav]="sidenav" (updateLoading)="updateLoading($event)"
                (updateAsignaturas)="updateAsignaturas($event)"></app-search-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar *ngIf="admin">
                <mat-toolbar-row>
                    <div class="topMenu">
                        <form class="profesores">
                            Elección de docencia de:
                            <mat-form-field>
                                <mat-select (selectionChange)="clearEleccion();getAsignaturas()" [(ngModel)]="profesor"
                                    [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let profe of profesores" [value]=profe>
                                        <div class="docencia-confirmada" *ngIf="profe.docencia_confirmada"></div>
                                        <div class="docencia-no-confirmada"
                                            *ngIf="profe.docencia && !profe.docencia_confirmada"></div>
                                        <div class="sin-docencia" *ngIf="!profe.docencia && !profe.docencia_confirmada">
                                        </div>
                                        {{profe.usuario.first_name}} {{profe.usuario.last_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-card class="info" *ngIf="eleccion && eleccion.mensaje && eleccion.mensaje !== '.' && admin">
                    <mat-card-title>
                        Mensaje del profesor
                    </mat-card-title>
                    <mat-card-content>
                            {{eleccion.mensaje}}
                    </mat-card-content>
    
                </mat-card>

            <mat-card class="info">
                <mat-card-title>
                    Información
                </mat-card-title>
                <mat-card-content>
                    <mat-grid-list cols="4" rowHeight="fit" style="height: 120px">
                        <mat-grid-tile>
                            <div *ngIf="profesor.docencia_confirmada">
                                <div class="docencia-confirmada"></div>
                                Esta elección está confirmada!
                            </div>
                            <div *ngIf="profesor.docencia && !profesor.docencia_confirmada">
                                <div class="docencia-no-confirmada">
                                </div>
                                Esta elección está pendiente de aprobación
                            </div>
                            <div *ngIf="!profesor.docencia && !profesor.docencia_confirmada">
                                Este profesor aún no tiene asignaturas guardadas en su
                                elección
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="creditos">
                                <span>
                                    <mat-icon mat-list-icon>school</mat-icon>
                                    Cŕeditos seleccionados:
                                </span>
                                <div class="cred-select">
                                    <span>{{creditos}}</span> de {{profesor.creditos_escoger | number:'1.3-3'}} créditos
                                </div>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>Deuda utilizada</mat-label>
                                <div class="number-input deuda">
                                    <button (click)="deudaInput.stepDown(); updateConDeuda(deudaInput)"></button>
                                    <input #deudaInput type="number" value="0"
                                        max="{{profesor.deuda.hace_uno +profesor.deuda.hace_dos +profesor.deuda.hace_tres +profesor.deuda.hace_cuatro}}"
                                        min=0 matInput [(ngModel)]="creditosDeuda" [ngModelOptions]="{standalone: true}"
                                        (keydown)="onPreventKey($event)">

                                    <button (click)="deudaInput.stepUp(); updateConDeuda(deudaInput)"
                                        class="plus"></button>
                                </div>
                                <mat-hint>Deuda disponible:
                                    {{profesor.deuda.hace_uno +profesor.deuda.hace_dos +profesor.deuda.hace_tres +profesor.deuda.hace_cuatro}}
                                </mat-hint>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field appearance="outline">
                                <mat-label>PDA utilizada</mat-label>
                                <div class="number-input deuda">
                                    <button disabled></button>
                                    <input type="number" value="{{profesor.pda}}" matInput
                                        (keydown)="onPreventKey($event)" disabled>
                                    <button class="plus" disabled></button>
                                </div>
                                <mat-hint>PDA disponible:
                                    {{profesor.pda}}
                                </mat-hint>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>


                </mat-card-content>

            </mat-card>

            <button class="mat-fab-bottom-right3" *ngIf="admin" mat-fab (click)="deleteEleccion()"
                matTooltip="Borrar la docencia y guardar" [disabled]="loading">
                <mat-icon>delete</mat-icon>
            </button>
            <button class="mat-fab-bottom-right1" *ngIf="puedesElegir()" mat-fab (click)="clearEleccion()"
                matTooltip="Limpiar los selecionados" [disabled]="loading">
                <mat-icon>clear</mat-icon>
            </button>

            <button class="mat-fab-bottom-right2" mat-fab *ngIf="puedesElegir()" (click)="openDialog()"
                matTooltip="Guardar y enviar" [disabled]="loading">
                <mat-icon *ngIf="!admin">send</mat-icon>
                <mat-icon *ngIf="admin">done</mat-icon>
            </button>
            <mat-card class="card" id="minimizable-container">
                <div class="list-column">
                    <div class="left-minimice" (click)="minimiceLeft()">
                        <mat-icon>arrow_forward_ios</mat-icon>
                        <h2>Asignaturas</h2>
                    </div>
                    <mat-selection-list class="asignaturas">

                        <div *ngFor="let asignatura of asignaturas">
                            <!-- <div class="asignatura-no-disponible" *ngIf="!admin && !asignaturaDisponible(asignatura)">HIOSJLHDKJBKLCBVlksdvcbdlkscvsdlk</div>   -->
                            <!-- Asignatura no divisible -->
                            <mat-list-option #opt (click)="onSelectAsignatura(asignatura, opt)"
                                [selected]="asignatura.selected" *ngIf="!asignatura.divisible"
                                [disabled]="!asignatura.disponible" [ngClass]="{'disabled': !asignatura.disponible}">
                                <h3 mat-line class="wrapedText">
                                    <a target="_blank" routerLink="/asignaturas/{{asignatura.id}}"
                                        matTooltip="[{{asignatura.siglas}}] {{asignatura.nombre}}">
                                        [{{asignatura.siglas}}]
                                        {{asignatura.nombre}}
                                    </a>
                                </h3>
                                <p mat-line>
                                    <mat-chip class="withIcon">
                                        <mat-icon>calendar_today</mat-icon>
                                        {{asignatura.calendario.fecha_ini}}/{{asignatura.calendario.fecha_fin}}
                                    </mat-chip>
                                </p>

                                <p mat-line *ngFor="let hora of asignatura.horario">
                                    <strong> {{fetchDay(hora.dia)}}:
                                    </strong>{{hora.hora_inicio}}-{{hora.hora_fin}}
                                </p>
                                <p mat-line>
                                    <strong>Créditos: </strong>{{asignatura.creditos}}
                                </p>
                            </mat-list-option>

                            <!-- Asignatura divisible -->
                            <mat-list-item #opt *ngIf="asignatura.divisible"
                                [ngClass]="{'disabled': !asignatura.disponible}">
                                <h3 mat-line class="wrapedText">
                                    <a target="_blank" routerLink="/asignaturas/{{asignatura.id}}"
                                        matTooltip="[{{asignatura.siglas}}] {{asignatura.nombre}}">
                                        [{{asignatura.siglas}}]
                                        {{asignatura.nombre}}
                                    </a>
                                </h3>
                                <p mat-line>
                                    <mat-chip class="withIcon">
                                        <mat-icon>calendar_today</mat-icon>
                                        {{asignatura.calendario.fecha_ini}}/{{asignatura.calendario.fecha_fin}}
                                    </mat-chip>
                                </p>

                                <p mat-line *ngFor="let hora of asignatura.horario">
                                    <strong> {{fetchDay(hora.dia)}}:
                                    </strong>{{hora.hora_inicio}}-{{hora.hora_fin}}
                                </p>
                                <p mat-line>
                                    <strong>Créditos disponibles:
                                    </strong>{{asignatura.maxCreditos}}/{{asignatura.creditos}}
                                </p>
                                <div class="number-input">
                                    <button (click)="cred.stepDown(); changeCreditVal(cred, asignatura)"></button>
                                    <input #cred id="divisible{{asignatura.id}}" class="divisible" type="number"
                                        (change)="changeCreditVal(cred, asignatura)" 
                                        (keyup)="changeCreditVal(cred, asignatura)" min=0 step="0.01"
                                        max={{asignatura.maxCreditos}} [disabled]="!asignatura.disponible">
                                    <button (click)="cred.stepUp(); changeCreditVal(cred, asignatura)"
                                        class="plus"></button>
                                </div>
                            </mat-list-item>

                            <!-- Desdoble común para asignaturas divisibles y no divisibles -->
                            <mat-list-option *ngIf="asignatura.desdobles.length > 0" #optDesdobles
                                (click)="onSelectDesdoble(asignatura, optDesdobles)"
                                [selected]="asignatura.desdobles[0].selected"
                                [disabled]="!asignatura.desdobles[0].disponible"
                                [ngClass]="{'disabled': !asignatura.desdobles[0].disponible}">
                                <!-- <div class="asignatura-no-disponible" *ngIf="!admin && !asignaturaDisponible(asignatura.desdobles[0])">vdvdfvdfsvsdvsdvsdvs</div>    -->
                                <h3 class="wrapedText">
                                    <mat-chip color="accent" selected>Desdoble
                                    </mat-chip>
                                    <a target="_blank" routerLink="/asignaturas/{{asignatura.id}}"
                                        matTooltip="[{{asignatura.siglas}}] {{asignatura.nombre}}">
                                        [{{asignatura.siglas}}]
                                        {{asignatura.nombre}}
                                    </a>
                                </h3>
                                <p mat-line>
                                    <mat-chip class="withIcon">
                                        <mat-icon>calendar_today</mat-icon>
                                        {{asignatura.calendario.fecha_ini}}/{{asignatura.calendario.fecha_fin}}
                                    </mat-chip>
                                </p>
                                <p mat-line *ngFor="let hora of asignatura.desdobles[0].horario">
                                    <strong> {{fetchDay(hora.dia)}}:
                                    </strong>{{hora.hora_inicio}}-{{hora.hora_fin}}
                                </p>
                                <p mat-line>
                                    <strong>Créditos:
                                    </strong>{{asignatura.desdobles[0].creditos}}
                                </p>
                            </mat-list-option>
                            <mat-divider class="divider"></mat-divider>
                            <mat-divider class="divider"></mat-divider>
                        </div>

                    </mat-selection-list>


                </div>
                <div class="state-column">
                    <div class="left-minimice black" (click)="minimiceRight()">
                        <mat-icon>arrow_forward_ios</mat-icon>
                        <h2>Estado de la elección</h2>

                    </div>

                    <div id="stateContent">
                        <div id="horarioComponent" *ngIf="asignaturasSelected">
                            <app-full-calendar [asignaturasEntrada]="asignaturasSelected"
                                [desdoblesEntrada]="desdoblesSelected"
                                [asignaturasDivisiblesEntrada]="asignaturasDivisiblesSelected">
                            </app-full-calendar>
                        </div>

                        <div *ngIf="!valida" class="errores">
                            <mat-card>
                                <mat-card-title>
                                    <mat-icon>error</mat-icon> Problemas encontrados
                                </mat-card-title>
                                <mat-card-subtitle>Se han encontrado solapamientos que
                                    debe corregir</mat-card-subtitle>
                                <mat-list>
                                    <ng-container *ngIf="errores.L">
                                        <h2>Lunes</h2>

                                        <h3 *ngIf="errores.L.primer_cuatrimestre.length">
                                            Primer cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.L.primer_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                        <h3 *ngIf="errores.L.segundo_cuatrimestre.length">
                                            Segundo cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.L.segundo_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                    </ng-container>

                                    <ng-container *ngIf="errores.M">
                                        <h2>Martes</h2>

                                        <h3 *ngIf="errores.M.primer_cuatrimestre.length">
                                            Primer cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.M.primer_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                        <h3 *ngIf="errores.M.segundo_cuatrimestre.length">
                                            Segundo cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.M.segundo_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                    </ng-container>

                                    <ng-container *ngIf="errores.X">
                                        <h2>Miércoles</h2>

                                        <h3 *ngIf="errores.X.primer_cuatrimestre.length">
                                            Primer cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.X.primer_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                        <h3 *ngIf="errores.X.segundo_cuatrimestre.length">
                                            Segundo cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.X.segundo_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                    </ng-container>

                                    <ng-container *ngIf="errores.J">
                                        <h2>Jueves</h2>

                                        <h3 *ngIf="errores.J.primer_cuatrimestre.length">
                                            Primer cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.J.primer_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                        <h3 *ngIf="errores.J.segundo_cuatrimestre.length">
                                            Segundo cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.J.segundo_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                    </ng-container>

                                    <ng-container *ngIf="errores.V">
                                        <h2>Viernes</h2>

                                        <h3 *ngIf="errores.V.primer_cuatrimestre.length">
                                            Primer cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.V.primer_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                        <h3 *ngIf="errores.V.segundo_cuatrimestre.length">
                                            Segundo cuatrimestre</h3>
                                        <ng-container *ngFor="let error of errores.V.segundo_cuatrimestre">
                                            <h4>{{error[0].nombre }} con
                                                {{ error[1].nombre}}</h4>
                                            <li><strong>Horario solapado:</strong>
                                                {{error[0].horario_solapado[0]}}-{{error[0].horario_solapado[1]}}
                                                con
                                                {{error[1].horario_solapado[0]}}-{{error[1].horario_solapado[1]}}
                                            </li>
                                        </ng-container>

                                    </ng-container>

                                </mat-list>
                            </mat-card>
                        </div>
                    </div>
                </div>

            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>