<h1 mat-dialog-title>Calendarios</h1>
<div mat-dialog-content>
        <p>*Atención! Si borra un calendario se eliminarán todas las asignaturas asociadas a el</p>
        <button mat-raised-button color="accent" class="addButton" (click)="openAnadirCalendario(null)" >
            <mat-icon>add</mat-icon>Nuevo calendario
        </button>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_ini">
            <th mat-header-cell *matHeaderCellDef> Fecha inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_ini}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_fin">
            <th mat-header-cell *matHeaderCellDef> Fecha fin</th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_fin}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteCalendario(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button (click)="openAnadirCalendario(element)" >
                    <mat-icon>edit</mat-icon>
                  </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Salir</button>
</div>