<div class="decorator"></div>
<div class="form-container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Añadir asignatura</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="formulario">
            <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup" class="formulario">
                        <ng-template matStepLabel>Detalles generales</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Nombre" formControlName="nombre" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Codigo" formControlName="codigo" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" formControlName="cuatrimestre" placeholder="Cuatrimestre" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Curso" formControlName="curso" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Grupo" formControlName="grupo" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Siglas" formControlName="siglas" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Titulación" formControlName="titulacion" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext type="submit">Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup" class="formulario">
                        <ng-template matStepLabel>Departamento</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Siglas del departamento" formControlName="departamento" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Atrás</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup" class="formulario">
                        <ng-template matStepLabel>Desdobles</ng-template>
                        <button mat-button (click)="newDesdoble()">Añadir desdoble</button>
                        <div formArrayName="desdobles" *ngFor="let item of thirdFormGroup.get('desdobles').controls; let i = index;" class="formulario">
                            <div class="titulo-horarios">
                                <h4>Desdoble #{{i + 1}}</h4>
                                <button class="boton-eliminar" mat-mini-fab color="primary" (click)="removeDesdoble(i)"><mat-icon>delete</mat-icon></button>
                            </div>
                            <button mat-button (click)="newHorarioDesdoble(i)">Añadir horario al desdoble</button>
                            <div [formGroupName]="i" class="formulario tabulado">
                                <div class="titulo-horarios">
                                    <h5>Horario #{{t + 1}}</h5>
                                    <button class="boton-eliminar" mat-mini-fab color="primary" (click)="removeHorarioDesdoble(i,t)"><mat-icon>delete</mat-icon></button>
                                </div>
                                <mat-form-field>
                                    <input matInput formControlName="aula" placeholder="Aula/Laboratorio" required>
                                    <mat-hint align="start"><strong>Ej. 'Aula 1', 'Aula 13', 'Laboratorio 4' ...</strong></mat-hint>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput formControlName="dias" placeholder="Día de la semana" required>
                                    <mat-hint align="start"><strong>Ej. 'L', 'M', 'X', 'J' ...</strong></mat-hint>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput formControlName="hora_inicio" placeholder="Hora de inicio" required>
                                    <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput formControlName="hora_fin" placeholder="Hora de fin" required>
                                    <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div>
                            <button mat-button matStepperPrevious>Atrás</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="fourFormGroup">
                    <form [formGroup]="fourFormGroup" class="formulario">
                        <ng-template matStepLabel>Horarios</ng-template>
                        <button mat-button (click)="newHorario()">Añadir horario</button>
                        <div *ngFor="let h of asignatura.horario; let i = index" class="formulario">
                            <div class="titulo-horarios">
                                <h4>Horario {{i + 1}}</h4>
                                <button class="boton-eliminar" mat-mini-fab color="primary" (click)="removeHorario(i)"><mat-icon>delete</mat-icon></button>
                            </div>
                            <mat-form-field>
                                <input matInput placeholder="Aula/Laboratorio" formControlName="aula" required>
                                <mat-hint align="start"><strong>Ej. 'Aula 1', 'Aula 13', 'Laboratorio 4' ...</strong></mat-hint>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Día de la semana" formControlName="dias" required>
                                <mat-hint align="start"><strong>Ej. 'L', 'M', 'X', 'J' ...</strong></mat-hint>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Hora de inicio" formControlName="hora_inicio" required>
                                <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Hora de fin" formControlName="hora_fin" required>
                                <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-button matStepperPrevious>Atrás</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    You are now done.
                    <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                        <button mat-raised-button (click)="save()">Guardar</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

        </mat-card-content>
    </mat-card>
</div>