@import '../../../scss/variables.scss';
.form-container {
    display: flex;
    justify-content: center;
}

.card {
    z-index: 2;
    width: 80%;
}

.header-image {
    background-image: url('../../../assets/books.png');
    background-size: cover;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.titulo-horarios h4 {
    float: left;
}

.titulo-horarios h5 {
    float: left;
}

.boton-eliminar {
    float: right;
    background-color: $warn;
}

.tabulado {
    margin-left: 20px;
}
.calendars{
    display: flex;
    mat-form-field{
        flex:1;
    }
}