.mostrar {
    margin-left: 0;
}

.columnizar {
    display: flex;
    flex-direction: column;
}

.mat-expansion-panel-header-title {
    font-size: 20px;
}

.mat-checkbox {
    width: fit-content;
}

.buscar {
    display: flex;
}

.buscar .mat-form-field {
    flex-grow: 1;
}

.opts button {
    display: block;
}

.searchContainer {
    padding: 0 20px 20px 20px;
    position: fixed;
    max-height: calc(100% - 70px);
    overflow-y: overlay;
    .title-buscar {
        overflow: hidden;
        .close {
            float: right;
            margin-top: 10px;
        }
        .title {
            float: left;
        }
    }
}

.filtrar{
    margin-top: 20px;
}