@import '../../../scss/variables.scss';
* {
    margin: 0;
    border: 0;
}

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 3rem;
    margin: 0;
    background: #fafafa;
    box-sizing: border-box;
    height: 100vh;
}

.outer {
    position: relative;
}

.calendar {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 500px;
    box-shadow: 0 0 20px 0px lightgrey;
    border-radius: 8px;
}

.wrap {
    margin-top: 15px;
    border-radius: 8px;
}

thead {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

thead th {
    text-align: center;
    width: 100%;
}

tbody {
    position: relative;
    top: 100px;
}

table {
    background: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.headcol {
    width: 60px;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.25rem 0;
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
    border-bottom: 1px solid transparent;
}

thead th {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
}

thead {
    z-index: 2;
    background: white;
    border-bottom: 2px solid #ddd;
}

tr,
tr td {
    height: 20px;
}

td {
    text-align: center;
}

tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #d6d6d6;
}

tr td {
    border-right: 1px solid #d6d6d6;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
}

tbody tr td {
    position: relative;
    vertical-align: top;
    height: 40px;
    width: auto;
}

.event {
    background: $primary;
    color: white;
    border-radius: 2px;
    text-align: left;
    font-size: 0.875rem;
    z-index: 2;
    padding: 0.5rem;
    overflow-x: hidden;
    transition: all 0.2s;
    height: 104%;
}