.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    width: 250px;
}

.user-container {
    padding: 16px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.user-icon {
    background-image: url("../../assets/user-male-icon.png");
    height: 100px;
    background-repeat: no-repeat;
    width: 100px;
    background-size: contain;
    border-radius: 100%;
    background-color: darkgray;
}

.username-container {
    display: flex;
    /* padding-right: 16px; */
    align-items: center;
}

.dash-button {
    margin-top: 25px;
}

.slidenav-buttons {
    display: flex;
    flex-direction: column;
}

.slidenav-buttons>.mat-button {
    text-align: left;
    font-weight: bolder;
}

.menu-button-content {
    display: flex;
    align-items: center;
}

.menu-button-content>.mat-icon {
    margin-right: 15px;
}

.menu-title {
    padding-left: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.603);
}

.sticky-image-wrapper {
    position: fixed;
    margin-left: 30px;
    bottom: 10px;
}

.sticky-image-wrapper img {
    display: table;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
}
.mini-sidenav{
    /* z-index: 10; */
    /* color: red; */
    display: inline-grid;
    float: left;
    background-color: white;
    height: -webkit-fill-available;
    /* padding: 20px; */
}

.loading{
    background-color: white;
    position: absolute;
    z-index: 1;
    height: 100%;
    /* opacity: 0.5; */
    width: 100%;
    transition: all 1s;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    .logo {
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: inherit;
        }
    }
    .cargando {
        height: 30px;
        margin-top: 5px;
    }
    
}