<mat-sidenav-container class="sidenav-container" color="primary">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
        <div class="user-container">
            <div class="icon-container">
                <div class="user-icon"></div>
                <!-- <span>Admin</span> -->
            </div>
            <div class="username-container">
                <span>{{usuario.usuario.first_name}} {{usuario.usuario.last_name}} </span>
                <div class="spacer"></div><button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button></div>
        </div>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <div class="slidenav-buttons">
            <button mat-button class="dash-button">
                <span class="menu-button-content">
                    <mat-icon>home</mat-icon>
                    DASHBOARD
                </span>
            </button>
            <mat-divider></mat-divider>
            <p class="menu-title">Listas</p>
            <button mat-button routerLink="/asignaturas">
                <span class="menu-button-content">
                    <mat-icon>visibility</mat-icon>
                    ASIGNATURAS
                </span>
            </button>
            <button mat-button routerLink="/profesores">
                <span class="menu-button-content">
                    <mat-icon>school</mat-icon>
                    PROFESORES
                </span>
            </button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/eleccion-docencia" (click)="sidenav.toggle()">
                <span class="menu-button-content">
                    <mat-icon>view_list</mat-icon>
                    DOCENCIA
                </span>
            </button>
            <mat-divider></mat-divider>
            <p class="menu-title">Configuración</p>
            <button mat-button>
                <span class="menu-button-content">
                    <mat-icon>settings</mat-icon>
                    CONFIGURACIÓN
                </span>
            </button>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <button mat-button class="dash-button" routerLink="/salir">
                <span class="menu-button-content">
                    <mat-icon>exit_to_app</mat-icon>
                    SALIR
                </span>
            </button>
        </div>

        <div class="sticky-image-wrapper">
            <img src="../../../assets/logo-ucm.jpg" alt="Universidad Complutense de Madrid" width="180px" height="46px">
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>{{title}}</span>
            </mat-toolbar-row>

        </mat-toolbar>

        <router-outlet></router-outlet>



    </mat-sidenav-content>
</mat-sidenav-container>