.addButton {
    /* color: green; */
    margin: 10px;
    margin-left: 0;
}

.divider {
    clear: both;
}

.card {
    margin: 10px;
}

.main-card {
    flex-grow: 1;
}

.total-container {
    display: flex;
}

.todo-content {
    overflow: overlay;
    max-height: 800px;
}

.lista {
    display: block;
    flex-grow: 3;
}

.content {
    padding-left: 10px;
}

.asignatura {
    padding: 0 15px;
    flex-grow: 1;
    width: 200px;
    /*background-color: #e0e0e0;*/
}

.content-row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    opacity: 0.8;
}

button.content-row {
    margin-left: 0;
}

.row {
    cursor: pointer;
    text-overflow: ellipsis;
}

.row:hover {
    background-color: lightgray;
}

.mostrar {
    margin-left: 0;
}

.columnizar {
    display: flex;
    flex-direction: column;
}

.mat-expansion-panel-header-title {
    font-size: 20px;
}

.mat-checkbox {
    width: fit-content;
}

.buscar {
    display: flex;
}

.buscar .mat-form-field {
    flex-grow: 1;
}

.opts button {
    display: block;
}