<div class="total-container">
    <div class="decorator"></div>
    <div class="card-container">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-subtitle><a routerLink="/asignaturas">asignaturas</a> / <a routerLink="/asignaturas/{{asignatura.id}}">{{asignatura.siglas}}</a></mat-card-subtitle>
                <mat-card-title routerLink="/asignaturas/{{asignatura.id}}" class="nombre-asig">[{{asignatura.siglas}}] {{asignatura.nombre}}
                </mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->

                <div class="actionButtonContainer">
                    <button mat-raised-button color="accent" class="actionButton" routerLink="/edit-asignatura/{{asignatura.id}}"><mat-icon>create</mat-icon> Editar</button>
                    <button mat-raised-button color="accent" class="actionButton" (click)="eliminarDialog()"><mat-icon>delete</mat-icon> Eliminar</button>
                </div>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content *ngIf='loaded'>
                <mat-tab-group>
                    <mat-tab label="Detalles generales">
                        <!--  -->
                        <div class="tab">
                            <mat-list role="list" class="generalDataRow">
                                <mat-list-item role="listitem">
                                    <h4>Código</h4> <span class="spacer"></span>{{asignatura.codigo}}
                                </mat-list-item>
                                <span class="manualDivider"></span>
                                <mat-list-item role="listitem">
                                    <h4>Cuatrimestre</h4> <span class="spacer"></span>{{asignatura.cuatrimestre}}
                                </mat-list-item>
                                <span class="manualDivider"></span>
                                <mat-list-item role="listitem">
                                    <h4>Curso</h4> <span class="spacer"></span>{{asignatura.curso}}
                                </mat-list-item>
                                <span class="manualDivider"></span>
                                <mat-list-item role="listitem">
                                    <h4>Departamento</h4> <span class="spacer"></span>{{asignatura.departamento}}
                                </mat-list-item>
                                <span class="manualDivider"></span>
                                <mat-list-item role="listitem">
                                    <h4>Grupo</h4> <span class="spacer"></span>{{asignatura.grupo}}
                                </mat-list-item>
                                <span class="manualDivider"></span>
                                <mat-list-item role="listitem">
                                    <h4>Identificación</h4> <span class="spacer"></span>{{asignatura.id}}
                                </mat-list-item>
                                <span class="manualDivider"></span>
                                <mat-list-item role="listitem">
                                    <h4>Titulación</h4> <span class="spacer"></span>{{asignatura.titulacion}}
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-tab>
                    <mat-tab label="Horario">
                        <div *ngFor="let dia of asignatura.horario">
                            <code>
                <strong>{{dia.aula}}: </strong>{{dia.dia}} <mat-icon>navigate_next</mat-icon> {{dia.hora_inicio}}/{{dia.hora_fin}}
              </code>
                        </div>
                    </mat-tab>
                    <mat-tab label="Desdobles"> Content 3 </mat-tab>
                </mat-tab-group>


            </mat-card-content>
        </mat-card>
    </div>
</div>