@import "../../../scss/variables.scss";

.total-container {
    display: flex;
    .card-container {
        flex-grow: 5;
        display: flex;
        justify-content: center;
        .card {
            margin-bottom: 20px;
            z-index: 2;
            width: 80%;
            overflow: hidden;
        }
    }
}
mat-form-field {
    display: block;
}
.aligned{
    display: flex;
    align-items: center;
    mat-icon{
        margin-right: 10px;
    }
}
mat-card-content {
    .avisos{
        color: $accent;
    }
    .formulario {
        width: 70%;
        margin: auto;
        text-align: center;
    }
}