<div class="total-container">

  <div class="decorator"></div>
  <div class="card-container form-container">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>
          <a href="javascript:history.back()">
            <mat-icon>arrow_back</mat-icon>
          </a>
        </div>
        <mat-card-title>Cambiar contraseña</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="avisos">
          <span *ngIf="!equal && newPass && newPass2" class="aligned">
            <mat-icon>warning</mat-icon><strong> Las contraseñas no coinciden</strong>
          </span>
          <span *ngIf="sortPass && newPass" class="aligned">
            <mat-icon>warning</mat-icon><strong> La contraseña debe contener al menos 9 caracteres</strong>
          </span>
        </div>
        <form (change)="checkErrors()" (ngSubmit)="changePassword()" class="formulario">
          <mat-form-field>
            <input matInput placeholder="Contraseña actual" [(ngModel)]=actualPass type="password"
              (keydown)="checkErrors()" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nueva contraseña" [(ngModel)]=newPass type="password" (keydown)="checkErrors()"
              [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Repetir nueva contraseña" [(ngModel)]=newPass2
              [ngModelOptions]="{standalone: true}" type="password" (keydown)="checkErrors()" required>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit"
            [disabled]="!equal || !requiredData || sortPass">Cambiar contraseña</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>