@import "../../../scss/variables.scss";

mat-form-field {
    display: block;
}
.aligned{
    display: flex;
    align-items: center;
    mat-icon{
        margin-right: 10px;
    }
}
mat-card-content {
    .avisos{
        color: $accent;
    }
    .formulario {
        width: 70%;
        margin: auto;
        text-align: center;
    }
}