@import '../../scss/variables.scss';
.grafics-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 5px;

    .grafica {
        flex: 1 0 35%;
        width: 100%;
        margin: 10px;

        li {
            display: flex;
            line-height: 2;

            span {
                flex: 1 0 40%;
            }

            b {
                flex: 1 0 40%;
            }

            canvas {
                width: 100%;
            }
        }
    }
}
.mensajeDashboard{
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        margin: 0;
    }
    span{
        margin: 5px;
        display: block;
    }
    p{
        display: inline;
    }
    .accent{
        color: $accent;
        font-weight: bold;
    }
}