.decorator {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #0077c2;
}

.form-container {
    display: flex;
    justify-content: center;
}

.card {
    z-index: 2;
    width: 80%;
}

.header-image {
    background-image: url('../../assets/books.png');
    background-size: cover;
}

.formulario {
    margin: 20px;
}

.formulario button {
    margin-right: 10px;
}

.importar-formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.importar-formulario>* {
    width: 100%;
}

.carga {
    margin-top: 20px;
}

.carga mat-spinner {
    float: left;
    margin-right: 20px;
}

.carga p {
    font-style: italic;
}