<div class="decorator"></div>
<div class="form-container">
<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Añadir asignatura</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content class="formulario">
         <mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup" class="formulario">
                <ng-template matStepLabel>Detalles generales</ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Nombre" [(ngModel)]=asignatura.nombre [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Codigo" [(ngModel)]=asignatura.codigo [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" placeholder="Cuatrimestre" [(ngModel)]=asignatura.cuatrimestre [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Curso" [(ngModel)]=asignatura.curso [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Grupo" [(ngModel)]=asignatura.grupo [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Siglas" [(ngModel)]=asignatura.siglas [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Titulación" [(ngModel)]=asignatura.titulacion [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup" class="formulario">
                <ng-template matStepLabel>Departamento</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Siglas del departamento" [(ngModel)]=asignatura.departamento [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Atrás</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup" class="formulario">
                <ng-template matStepLabel>Desdobles</ng-template>
                <button mat-button (click)="newDesdoble()">Añadir desdoble</button>
                <div *ngFor="let desdoble of asignatura.desdobles; let i = index" class="formulario">
                  <div class="titulo-horarios">
                  <h4>Desdoble #{{i + 1}}</h4>
                  <button class="boton-eliminar" mat-mini-fab color="warn" (click)="removeDesdoble(i)">X</button>
                  </div>
                  <div *ngFor="let horario of desdoble.horario" class="formulario">
                  <mat-form-field>
                    <input matInput placeholder="Aula/Laboratorio" [(ngModel)]=horario.aula [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. 'Aula 1', 'Aula 13', 'Laboratorio 4' ...</strong></mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Día de la semana" [(ngModel)]=horario.dia [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. 'L', 'M', 'X', 'J' ...</strong></mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Hora de inicio" [(ngModel)]=horario.hora_inicio [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Hora de fin" [(ngModel)]=horario.hora_fin [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                  </mat-form-field>
                  </div>
                </div>
                
                <div>
                  <button mat-button matStepperPrevious>Atrás</button>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="fourFormGroup">
              <form [formGroup]="fourFormGroup" class="formulario">
                <ng-template matStepLabel>Horarios</ng-template>
                <button mat-button (click)="newHorario()">Añadir horario</button>
                <div *ngFor="let h of asignatura.horario; let i = index" class="formulario">
                <div class="titulo-horarios">
                  <h4>Horario {{i + 1}}</h4>
                  <button class="boton-eliminar" mat-mini-fab color="warn" (click)="removeHorario(i)">X</button>
                  </div>
                  <mat-form-field>
                    <input matInput placeholder="Aula/Laboratorio" [(ngModel)]=h.aula [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. 'Aula 1', 'Aula 13', 'Laboratorio 4' ...</strong></mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Día de la semana" [(ngModel)]=h.dia [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. 'L', 'M', 'X', 'J' ...</strong></mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Hora de inicio" [(ngModel)]=h.hora_inicio [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Hora de fin" [(ngModel)]=h.hora_fin [ngModelOptions]="{standalone: true}">
                    <mat-hint align="start"><strong>Ej. '09:00:00', '11:00:00', '15:00:00' ...</strong></mat-hint>
                  </mat-form-field>
                </div>
                
                <div>
                  <button mat-button matStepperPrevious>Atrás</button>
                  <button mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              You are now done.
              <div>
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-raised-button (click)="save()">Guardar</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-raised-button color="warn">Save</button>
      <button mat-button>Cancel</button>
    </mat-card-actions> -->
  </mat-card>
</div>