<div class="decorator"></div>
<div class="form-container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Cerrar sesión</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="formulario">

            <p class="mat-h3">Ha cerrado su sesión correctamente</p>

        </mat-card-content>

    </mat-card>
</div>