/* You can add global styles to this file, and also import other style files */
@import './custom-style.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body{
    margin: 0;
    /* background-color: rgb(240, 240, 240); */
    font-family: Roboto, "Helvetica Neue", sans-serif;

}
.spacer{
    flex: 1 1 auto;
}

.mat-progress-bar.mat-warn .mat-progress-bar-buffer{
    background-color: #c5cae9;
}
.decorator{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #0077c2;
}