@import "~fullcalendar/dist/fullcalendar.min.css";

.calendar{
    color: white;
}
.fc-today{
    color: black;
}

.fc-scroller {
    &.fc-day-grid-container {
        overflow: unset !important;
        height: fit-content !important;
    }
    &.fc-time-grid-container{
        overflow: unset !important;
        height: fit-content !important;
    }
} 