/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import './variables.scss';
@import './custom-style.scss';
@import './calendar.scss';
body {
    margin: 0;
    font-family: Quattrocento Sans, sans-serif;
    background-color: #ffffff;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.spacer {
    flex: 1 1 auto;
}

.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
    background-color: #EDEDED;
}

.decorator {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: $primary;
}
.mat-card-header{
    .progress-bar{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;    
    }
}

.highlight{
    background-color: yellow;
}