/*
    Basado en los colores oficiales propuestos en el manual de estilo web de
    la Universidad Complutense de Madrid

    https://ssii.ucm.es/colores-y-tipografia
*/

$primary: #454545;
$accent: #990033;
$warn: #f44336;